@{
    ViewBag.Title = "Category";
}


<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row breadcrumb_box  align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-left">
                        <h2 class="breadcrumb-title">Shop</h2>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-6">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list text-center text-sm-right">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">Shop</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<div class="site-wrapper-reveal border-bottom">

    <!-- Product Area Start -->
    <div class="product-wrapper section-space--ptb_120">
        <div class="container">

            <div class="row">
                <div class="col-lg-3 col-md-3 order-md-1 order-2  small-mt__40">
                    <div class="shop-widget widget-shop-categories">
                        <div class="product-filter">
                            <h6 class="mb-20">Categories</h6>
                            <ul class="widget-nav-list">
                                <li><a href="#">All</a></li>
                                <li><a href="#">Coffee</a></li>
                                <li><a href="#">Chair</a></li>
                                <li><a href="#">Decoration</a></li>
                                <li><a href="#">Furniture</a></li>
                                <li><a href="#">Table</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Product Filter -->
                    <div class="shop-widget">
                        <div class="product-filter widget-price">
                            <h6 class="mb-20">Price</h6>
                            <ul class="widget-nav-list">
                                <li><a href="#">$0.00 - $20.00</a></li>
                                <li><a href="#">$20.00 - $40.00</a></li>
                                <li><a href="#">£40.00 - £50.00</a></li>
                                <li><a href="#">£50.00 - £60.00</a></li>
                                <li><a href="#">£60.00 +</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9  order-md-2 order-1">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="shop-toolbar__items shop-toolbar__item--left">
                                <div class="shop-toolbar__item shop-toolbar__item--result">
                                    <p class="result-count"> Showing 1–9 of 21</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4">
                            <div class="shop-toolbar__items shop-toolbar__item--right">
                                <div class="shop-toolbar__items-wrapper">

                                    <div class="shop-toolbar__item">
                                        <ul class="nav toolber-tab-menu justify-content-start" role="tablist">
                                            <li class="tab__item nav-item active">
                                                <a class="nav-link active" data-toggle="tab" href="#tab_columns_01" role="tab">
                                                    <img src="assets/images/svg/column-03.svg" class="img-fluid" alt="Columns 03">
                                                </a>
                                            </li>
                                            <li class="tab__item nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#tab_columns_02" role="tab"><img src="assets/images/svg/column-04.svg" class="img-fluid" alt="Columns 03"> </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="tab_columns_01">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="product-details.html" class="product-thumbnail">
                                                <img src="assets/images/product/1_1-300x300.jpg" class="img-fluid" alt="Product Images">
                                            </a>
                                            <div class="product-actions">
                                                <a href="/Product"><i class="p-icon icon-plus"></i><span class="tool-tip">View</span></a>
                                                <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="product-details.html">Teapot with black tea</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£40.00</span> - <span class="old-price"> £635.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="product-details.html" class="product-thumbnail">
                                                <img src="assets/images/product/1_2-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="/Product"><i class="p-icon icon-plus"></i><span class="tool-tip">View</span></a>
                                                <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="product-details.html">Simple Chair</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£70.00</span> - <span class="old-price"> £95.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="product-details.html" class="product-thumbnail">
                                                <img src="assets/images/product/1_3-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="product-details.html">Smooth Disk</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£46.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="product-details.html" class="product-thumbnail">
                                                <img src="assets/images/product/1_4-300x300.jpg" class="img-fluid" alt="Product Images">
                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="product-details.html">Wooden Flowerpot</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£40.00</span> - <span class="old-price"> £635.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="product-details.html" class="product-thumbnail">
                                                <img src="assets/images/product/1_5-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="product-details.html">Living room & Bedroom lights</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£60.00</span> - <span class="old-price"> £69.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="product-details.html" class="product-thumbnail">
                                                <img src="assets/images/product/1_6-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="product-details.html">Gray lamp</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£80.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="product-details.html" class="product-thumbnail">
                                                <img src="assets/images/product/1_7-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="product-details.html">Decoration wood</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£50.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="product-details.html" class="product-thumbnail">
                                                <img src="assets/images/product/1_8-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="product-details.html">Teapot with black tea</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£20.00</span> - <span class="old-price"> £135.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab_columns_02">
                            <div class="row">
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="product-details.html" class="product-thumbnail">
                                                <img src="assets/images/product/1_3-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="product-details.html">Smooth Disk</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£46.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="product-details.html" class="product-thumbnail">
                                                <img src="assets/images/product/1_4-300x300.jpg" class="img-fluid" alt="Product Images">
                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="product-details.html">Wooden Flowerpot</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£40.00</span> - <span class="old-price"> £635.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="product-details.html" class="product-thumbnail">
                                                <img src="assets/images/product/1_5-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="product-details.html">Living room & Bedroom lights</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£60.00</span> - <span class="old-price"> £69.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="product-details.html" class="product-thumbnail">
                                                <img src="assets/images/product/1_6-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="product-details.html">Gray lamp</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£80.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="product-details.html" class="product-thumbnail">
                                                <img src="assets/images/product/1_7-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="product-details.html">Decoration wood</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£50.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="product-details.html" class="product-thumbnail">
                                                <img src="assets/images/product/1_8-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="product-details.html">Teapot with black tea</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£20.00</span> - <span class="old-price"> £135.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="product-details.html" class="product-thumbnail">
                                                <img src="assets/images/product/1_1-300x300.jpg" class="img-fluid" alt="Product Images">
                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="product-details.html">Teapot with black tea</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£40.00</span> - <span class="old-price"> £635.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <!-- Single Product Item Start -->
                                    <div class="single-product-item text-center">
                                        <div class="products-images">
                                            <a href="product-details.html" class="product-thumbnail">
                                                <img src="assets/images/product/1_8-300x300.jpg" class="img-fluid" alt="Product Images">

                                            </a>
                                            <div class="product-actions">
                                                <a href="#" data-toggle="modal" data-target="#prodect-modal"><i class="p-icon icon-plus"></i><span class="tool-tip">Quick View</span></a>
                                                <a href="product-details.html"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <h6 class="prodect-title"><a href="product-details.html">Teapot with black tea</a></h6>
                                            <div class="prodect-price">
                                                <span class="new-price">£20.00</span> - <span class="old-price"> £135.00</span>
                                            </div>
                                        </div>
                                    </div><!-- Single Product Item End -->
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- Product Area End -->

</div>