
@{
    ViewBag.Title = "Product";
}

<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row breadcrumb_box  align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-6 text-center text-sm-left">
                        <h2 class="breadcrumb-title">Wooden chair</h2>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-6">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list text-center text-sm-right">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active">Furniture</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<div class="site-wrapper-reveal">

    <div class="single-product-wrap section-space--pt_90 border-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">

                    <!-- Product Details Left -->
                    <div class="product-details-left">
                        <div class="product-details-images-2 slider-lg-image-2">

                            <div class="easyzoom-style">
                                <div class="easyzoom easyzoom--overlay">
                                    <a href="assets/images/product/single-product-01.jpg" class="poppu-img">
                                        <img src="assets/images/product/single-product-01.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="easyzoom-style">
                                <div class="easyzoom easyzoom--overlay">
                                    <a href="assets/images/product/single-product-02.jpg" class="poppu-img">
                                        <img src="assets/images/product/single-product-03.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="easyzoom-style">
                                <div class="easyzoom easyzoom--overlay">
                                    <a href="assets/images/product/single-product-03.jpg" class="poppu-img">
                                        <img src="assets/images/product/single-product-03.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="easyzoom-style">
                                <div class="easyzoom easyzoom--overlay">
                                    <a href="assets/images/product/single-product-04.jpg" class="poppu-img">
                                        <img src="assets/images/product/single-product-04.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                            </div>

                        </div>
                        <div class="product-details-thumbs-2 slider-thumbs-2">
                            <div class="sm-image"><img src="assets/images/product/small/1-100x100.jpg" alt="product image thumb"></div>
                            <div class="sm-image"><img src="assets/images/product/small/2-100x100.jpg" alt="product image thumb"></div>
                            <div class="sm-image"><img src="assets/images/product/small/3-100x100.jpg" alt="product image thumb"></div>
                            <div class="sm-image"><img src="assets/images/product/small/4-100x100.jpg" alt="product image thumb"></div>
                        </div>
                    </div>
                    <!--// Product Details Left -->

                </div>
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <div class="product-details-content ">

                        <h5 class="font-weight--reguler mb-10">Teapot with black tea</h5>

                        <h3 class="price">£59.99 - £ 32.00</h3>



                        <div class="quickview-peragraph mt-10">
                            <p>At vero accusamus et iusto odio dignissimos blanditiis praesentiums dolores molest.</p>
                        </div>



                        <div class="product-size-wrapper mt-20">
                            <div class="tab-content d-flex">
                                <label class="mr-2">Size</label>
                                <div class="tab-pane fade show active" id="tab_list_l">
                                    L
                                </div>
                                <div class="tab-pane fade" id="tab_list_m">
                                    M
                                </div>
                                <div class="tab-pane fade" id="tab_list_s">
                                    S
                                </div>
                            </div>

                            <ul class="nav product-size-menu" role="tablist">

                                <li class="tab__item nav-item active">
                                    <a class="nav-link active" data-toggle="tab" href="#tab_list_l" role="tab">L</a>
                                </li>
                                <li class="tab__item nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab_list_m" role="tab">M</a>
                                </li>
                                <li class="tab__item nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab_list_s" role="tab">S</a>
                                </li>

                            </ul>
                        </div>


                        <div class="product-color-wrapper mt-20">
                            <div class="tab-content d-flex">
                                <label class="mr-2">Color </label>
                                <div class="tab-pane fade show active" id="tab_list_black">
                                    Black
                                </div>
                                <div class="tab-pane fade" id="tab_list_white">
                                    White
                                </div>
                            </div>

                            <ul class="nav product-color-menu" role="tablist">
                                <li class="tab__item nav-item active">
                                    <a class="nav-link active" data-toggle="tab" href="#tab_list_black" role="tab"></a>
                                </li>
                                <li class="tab__item nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tab_list_white" role="tab"></a>
                                </li>
                            </ul>

                        </div>


                        <div class="quickview-action-wrap mt-30">
                            <div class="quickview-cart-box">
                                <div class="quickview-quality">
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box" type="text" name="qtybutton" value="0">
                                    </div>
                                </div>

                                <div class="quickview-button">
                                    <div class="quickview-cart button">
                                        <a href="/Product" class="btn--lg btn--black font-weight--reguler text-white">Add to cart</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="product_meta mt-30">
                            <div class="sku_wrapper item_meta">
                                <span class="label"> SKU: </span>
                                <span class="sku"> 502 </span>
                            </div>
                            <div class="posted_in item_meta">
                                <span class="label">Categories: </span><a href="#">Furniture</a>, <a href="#">Table</a>
                            </div>
                            <div class="tagged_as item_meta">
                                <span class="label">Tag: </span><a href="#">Pottery</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="related-products section-space--ptb_90">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title text-center mb-30">
                            <h4>Related products</h4>
                        </div>
                    </div>
                </div>

                <div class="row product-slider-active">
                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="/Product" class="product-thumbnail">
                                    <img src="assets/images/product/1_1-300x300.jpg" class="img-fluid" alt="Product Images">
                                </a>
                                <div class="product-actions">
                                    <a href="/Product"><i class="p-icon icon-plus"></i><span class="tool-tip">View</span></a>
                                    <a href="/Product"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="/Product">Teapot with black tea</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">£40.00</span> - <span class="old-price"> £635.00</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="/Product" class="product-thumbnail">
                                    <img src="assets/images/product/1_2-300x300.jpg" class="img-fluid" alt="Product Images">

                                </a>
                                <div class="product-actions">
                                    <a href="/Product"><i class="p-icon icon-plus"></i><span class="tool-tip">View</span></a>
                                    <a href="/Product"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="/Product">Simple Chair</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">£70.00</span> - <span class="old-price"> £95.00</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="/Product" class="product-thumbnail">
                                    <img src="assets/images/product/1_3-300x300.jpg" class="img-fluid" alt="Product Images">

                                </a>
                                <div class="product-actions">
                                    <a href="/Product"><i class="p-icon icon-plus"></i><span class="tool-tip">View</span></a>
                                    <a href="/Product"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="/Product">Smooth Disk</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">£46.00</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="/Product" class="product-thumbnail">
                                    <img src="assets/images/product/1_4-300x300.jpg" class="img-fluid" alt="Product Images">
                                </a>
                                <div class="product-actions">
                                    <a href="/Product"><i class="p-icon icon-plus"></i><span class="tool-tip">View</span></a>
                                    <a href="/Product"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="/Product">Wooden Flowerpot</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">£40.00</span> - <span class="old-price"> £635.00</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="/Product" class="product-thumbnail">
                                    <img src="assets/images/product/1_5-300x300.jpg" class="img-fluid" alt="Product Images">

                                </a>
                                <div class="product-actions">
                                    <a href="/Product"><i class="p-icon icon-plus"></i><span class="tool-tip">View</span></a>
                                    <a href="/Product"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="/Product">Living room & Bedroom lights</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">£60.00</span> - <span class="old-price"> £69.00</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="/Product" class="product-thumbnail">
                                    <img src="assets/images/product/1_6-300x300.jpg" class="img-fluid" alt="Product Images">

                                </a>
                                <div class="product-actions">
                                    <a href="/Product"><i class="p-icon icon-plus"></i><span class="tool-tip">View</span></a>
                                    <a href="/Product"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="/Product">Gray lamp</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">£80.00</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="/Product" class="product-thumbnail">
                                    <img src="assets/images/product/1_7-300x300.jpg" class="img-fluid" alt="Product Images">

                                </a>
                                <div class="product-actions">
                                    <a href="/Product"><i class="p-icon icon-plus"></i><span class="tool-tip">View</span></a>
                                    <a href="/Product"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="/Product">Decoration wood</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">£50.00</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Product Item Start -->
                        <div class="single-product-item text-center">
                            <div class="products-images">
                                <a href="/Product" class="product-thumbnail">
                                    <img src="assets/images/product/1_8-300x300.jpg" class="img-fluid" alt="Product Images">

                                </a>
                                <div class="product-actions">
                                    <a href="/Product"><i class="p-icon icon-plus"></i><span class="tool-tip">View</span></a>
                                    <a href="/Product"><i class="p-icon icon-bag2"></i> <span class="tool-tip">Add to cart</span></a>
                                </div>
                            </div>
                            <div class="product-content">
                                <h6 class="prodect-title"><a href="/Product">Teapot with black tea</a></h6>
                                <div class="prodect-price">
                                    <span class="new-price">£20.00</span> - <span class="old-price"> £135.00</span>
                                </div>
                            </div>
                        </div><!-- Single Product Item End -->
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
